$soft-green-50: #f7fbf8;
$soft-green-100: #f0f8f2;
$soft-green-200: #e7f4ea;
$soft-green-300: #e0f1e3;
$soft-green-400: #d0ead5;
$soft-green-500: #bad2bf;
$soft-green-600: #a6bbaa;
$soft-green-700: #8f8f8f;
$soft-green-800: #3d453f;
$soft-green-900: #292e2a;

$soft-blue-50: #f1f4ff;
$soft-blue-100: #dbe3ff;
$soft-blue-200: #c7d2ff;
$soft-blue-300: #b2c2ff;
$soft-blue-400: #96abff;
$soft-blue-500: #7390ff;
$soft-blue-600: #5c73cc;
$soft-blue-700: #455699;
$soft-blue-800: #283259;
$soft-blue-900: #171c33;

$grey-10: #fbfbfb;
$grey-50: #f3f3f3;
$grey-100: #dddddd;
$grey-200: #bbbbbb;
$grey-300: #a5a5a5;
$grey-400: #8e8e8e;
$grey-500: #787878;
$grey-600: #616161;
$grey-700: #4b4b4b;
$grey-800: #343434;
$grey-900: #1e1e1e;

$green-50: #ecf9f2;
$green-100: #cef0de;
$green-200: #b2e8cb;
$green-300: #95dfb7;
$green-400: #6fd49d;
$green-500: #3fc67d;
$green-600: #2f945d;
$green-700: #25764b;
$green-800: #15452b;
$green-900: #0c2719;

$blue-50: #eaf0ff;
$blue-100: #c9daff;
$blue-200: #a9c5ff;
$blue-300: #8aafff;
$blue-400: #5f92ff;
$blue-500: #2a6eff;
$blue-600: #2189ff;
$blue-700: #194299;
$blue-800: #0e2659;
$blue-900: #081633;

$purple-50: #f3ecff;
$purple-100: #e0ceff;
$purple-200: #cfb2ff;
$purple-300: #bd95ff;
$purple-400: #a56fff;
$purple-500: #873fff;
$purple-600: #6c32cc;
$purple-700: #512599;
$purple-800: #2f1559;
$purple-900: #1b0c33;

$soft-orange-50: #fff8ef;
$soft-orange-100: #ffefd6;
$soft-orange-200: #ffe6be;
$soft-orange-300: #ffdca6;
$soft-orange-400: #ffd086;
$soft-orange-500: #ffc15e;
$soft-orange-600: #cc9a4b;
$soft-orange-700: #8c6933;
$soft-orange-800: #594320;
$soft-orange-900: #332612;

$red-orange-50: #fdf0ef;
$red-orange-100: #fcdad7;
$red-orange-200: #fac4bf;
$red-orange-300: #f8aea7;
$red-orange-400: #ef3434;
$red-orange-500: #f46d60;
$red-orange-600: #b65147;
$red-orange-700: #924139;
$red-orange-800: #552621;
$red-orange-900: #301513;

$black: #000000;
$semi-black: #555555;

$white: #ffffff;

$floral-white: #fffaf0;

$off-white: #fffef2;

$light-grey: #f5f4f3;

$text-primary: $black;
$text-secondary: $grey-600;
$text-disabled: $grey-200;

$text-primary-ondark: $white;
$text-seconday-ondark: $grey-200;
$text-disabled-ondark: $grey-600;

$text-link: $blue-500;
$text-error: $red-orange-500;
$text-accent: $green-500;

$icon-primary: $black;
$icon-secondary: $grey-700;
$icon-disabled: $grey-200;
$icon-ondark: $white;

$text-selection: $soft-green-400;

$skeleton: $grey-50;

$button-label-primary: $white;
$button-label-secondary: $grey-800;

.soft-green-50 {
  color: $soft-green-50;
}

.soft-green-100 {
  color: $soft-green-100;
}

.soft-green-200 {
  color: $soft-green-200;
}

.soft-green-300 {
  color: $soft-green-300;
}

.soft-green-400 {
  color: $soft-green-400;
}

.soft-green-500 {
  color: $soft-green-500;
}

.soft-green-600 {
  color: $soft-green-600;
}

.soft-green-700 {
  color: $soft-green-700;
}

.soft-green-800 {
  color: $soft-green-800;
}

.soft-green-900 {
  color: $soft-green-900;
}

.soft-blue-50 {
  color: $soft-blue-50;
}

.soft-blue-100 {
  color: $soft-blue-100;
}

.soft-blue-200 {
  color: $soft-blue-200;
}

.soft-blue-300 {
  color: $soft-blue-300;
}

.soft-blue-400 {
  color: $soft-blue-400;
}

.soft-blue-500 {
  color: $soft-blue-500;
}

.soft-blue-600 {
  color: $soft-blue-600;
}

.soft-blue-700 {
  color: $soft-blue-700;
}

.soft-blue-800 {
  color: $soft-blue-800;
}

.soft-blue-900 {
  color: $soft-blue-900;
}

.grey-10 {
  color: $grey-10;
}

.grey-50 {
  color: $grey-50;
}

.grey-100 {
  color: $grey-100;
}

.grey-200 {
  color: $grey-200;
}

.grey-300 {
  color: $grey-300;
}

.grey-400 {
  color: $grey-400;
}

.grey-500 {
  color: $grey-500;
}

.grey-600 {
  color: $grey-600;
}

.grey-700 {
  color: $grey-700;
}

.grey-800 {
  color: $grey-800;
}

.grey-900 {
  color: $grey-900;
}

.green-50 {
  color: $green-50;
}

.green-100 {
  color: $green-100;
}

.green-200 {
  color: $green-200;
}

.green-300 {
  color: $green-300;
}

.green-400 {
  color: $green-400;
}

.green-500 {
  color: $green-500;
}

.green-600 {
  color: $green-600;
}

.green-700 {
  color: $green-700;
}

.green-800 {
  color: $green-800;
}

.green-900 {
  color: $green-900;
}

.blue-50 {
  color: $blue-50;
}

.blue-100 {
  color: $blue-100;
}

.blue-200 {
  color: $blue-200;
}

.blue-300 {
  color: $blue-300;
}

.blue-400 {
  color: $blue-400;
}

.blue-500 {
  color: $blue-500;
}

.blue-600 {
  color: $blue-600;
}

.blue-700 {
  color: $blue-700;
}

.blue-800 {
  color: $blue-800;
}

.blue-900 {
  color: $blue-900;
}

.purple-50 {
  color: $purple-50;
}

.purple-100 {
  color: $purple-100;
}

.purple-200 {
  color: $purple-200;
}

.purple-300 {
  color: $purple-300;
}

.purple-400 {
  color: $purple-400;
}

.purple-500 {
  color: $purple-500;
}

.purple-600 {
  color: $purple-600;
}

.purple-700 {
  color: $purple-700;
}

.purple-800 {
  color: $purple-800;
}

.purple-900 {
  color: $purple-900;
}

.soft-orange-50 {
  color: $soft-orange-50;
}

.soft-orange-100 {
  color: $soft-orange-100;
}

.soft-orange-200 {
  color: $soft-orange-200;
}

.soft-orange-300 {
  color: $soft-orange-300;
}

.soft-orange-400 {
  color: $soft-orange-400;
}

.soft-orange-500 {
  color: $soft-orange-500;
}

.soft-orange-600 {
  color: $soft-orange-600;
}

.soft-orange-700 {
  color: $soft-orange-700;
}

.soft-orange-800 {
  color: $soft-orange-800;
}

.soft-orange-900 {
  color: $soft-orange-900;
}

.red-orange-50 {
  color: $red-orange-50;
}

.red-orange-100 {
  color: $red-orange-100;
}

.red-orange-200 {
  color: $red-orange-200;
}

.red-orange-300 {
  color: $red-orange-300;
}

.red-orange-400 {
  color: $red-orange-400;
}

.red-orange-500 {
  color: $red-orange-500;
}

.red-orange-600 {
  color: $red-orange-600;
}

.red-orange-700 {
  color: $red-orange-700;
}

.red-orange-800 {
  color: $red-orange-800;
}

.red-orange-900 {
  color: $red-orange-900;
}

.black {
  color: $black;
}

.semi-black {
  color: $semi-black;
}

.white {
  color: $white;
}

.floral-white {
  color: $floral-white;
}

.off-white {
  color: $off-white;
}

.light-grey {
  color: $light-grey;
}

.bg-soft-green-50 {
  background-color: $soft-green-50;
}

.bg-soft-green-100 {
  background-color: $soft-green-100;
}

.bg-soft-green-200 {
  background-color: $soft-green-200;
}

.bg-soft-green-300 {
  background-color: $soft-green-300;
}

.bg-soft-green-400 {
  background-color: $soft-green-400;
}

.bg-soft-green-500 {
  background-color: $soft-green-500;
}

.bg-soft-green-600 {
  background-color: $soft-green-600;
}

.bg-soft-green-700 {
  background-color: $soft-green-700;
}

.bg-soft-green-800 {
  background-color: $soft-green-800;
}

.bg-soft-green-900 {
  background-color: $soft-green-900;
}

.bg-soft-blue-50 {
  background-color: $soft-blue-50;
}

.bg-soft-blue-100 {
  background-color: $soft-blue-100;
}

.bg-soft-blue-200 {
  background-color: $soft-blue-200;
}

.bg-soft-blue-300 {
  background-color: $soft-blue-300;
}

.bg-soft-blue-400 {
  background-color: $soft-blue-400;
}

.bg-soft-blue-500 {
  background-color: $soft-blue-500;
}

.bg-soft-blue-600 {
  background-color: $soft-blue-600;
}

.bg-soft-blue-700 {
  background-color: $soft-blue-700;
}

.bg-soft-blue-800 {
  background-color: $soft-blue-800;
}

.bg-soft-blue-900 {
  background-color: $soft-blue-900;
}

.bg-grey-10 {
  background-color: $grey-10;
}

.bg-grey-50 {
  background-color: $grey-50;
}

.bg-grey-100 {
  background-color: $grey-100;
}

.bg-grey-200 {
  background-color: $grey-200;
}

.bg-grey-300 {
  background-color: $grey-300;
}

.bg-grey-400 {
  background-color: $grey-400;
}

.bg-grey-500 {
  background-color: $grey-500;
}

.bg-grey-600 {
  background-color: $grey-600;
}

.bg-grey-700 {
  background-color: $grey-700;
}

.bg-grey-800 {
  background-color: $grey-800;
}

.bg-grey-900 {
  background-color: $grey-900;
}

.bg-green-50 {
  background-color: $green-50;
}

.bg-green-100 {
  background-color: $green-100;
}

.bg-green-200 {
  background-color: $green-200;
}

.bg-green-300 {
  background-color: $green-300;
}

.bg-green-400 {
  background-color: $green-400;
}

.bg-green-500 {
  background-color: $green-500;
}

.bg-green-600 {
  background-color: $green-600;
}

.bg-green-700 {
  background-color: $green-700;
}

.bg-green-800 {
  background-color: $green-800;
}

.bg-green-900 {
  background-color: $green-900;
}

.bg-blue-50 {
  background-color: $blue-50;
}

.bg-blue-100 {
  background-color: $blue-100;
}

.bg-blue-200 {
  background-color: $blue-200;
}

.bg-blue-300 {
  background-color: $blue-300;
}

.bg-blue-400 {
  background-color: $blue-400;
}

.bg-blue-500 {
  background-color: $blue-500;
}

.bg-blue-600 {
  background-color: $blue-600;
}

.bg-blue-700 {
  background-color: $blue-700;
}

.bg-blue-800 {
  background-color: $blue-800;
}

.bg-blue-900 {
  background-color: $blue-900;
}

.bg-purple-50 {
  background-color: $purple-50;
}

.bg-purple-100 {
  background-color: $purple-100;
}

.bg-purple-200 {
  background-color: $purple-200;
}

.bg-purple-300 {
  background-color: $purple-300;
}

.bg-purple-400 {
  background-color: $purple-400;
}

.bg-purple-500 {
  background-color: $purple-500;
}

.bg-purple-600 {
  background-color: $purple-600;
}

.bg-purple-700 {
  background-color: $purple-700;
}

.bg-purple-800 {
  background-color: $purple-800;
}

.bg-purple-900 {
  background-color: $purple-900;
}

.bg-soft-orange-50 {
  background-color: $soft-orange-50;
}

.bg-soft-orange-100 {
  background-color: $soft-orange-100;
}

.bg-soft-orange-200 {
  background-color: $soft-orange-200;
}

.bg-soft-orange-300 {
  background-color: $soft-orange-300;
}

.bg-soft-orange-400 {
  background-color: $soft-orange-400;
}

.bg-soft-orange-500 {
  background-color: $soft-orange-500;
}

.bg-soft-orange-600 {
  background-color: $soft-orange-600;
}

.bg-soft-orange-700 {
  background-color: $soft-orange-700;
}

.bg-soft-orange-800 {
  background-color: $soft-orange-800;
}

.bg-soft-orange-900 {
  background-color: $soft-orange-900;
}

.bg-red-orange-50 {
  background-color: $red-orange-50;
}

.bg-red-orange-100 {
  background-color: $red-orange-100;
}

.bg-red-orange-200 {
  background-color: $red-orange-200;
}

.bg-red-orange-300 {
  background-color: $red-orange-300;
}

.bg-red-orange-400 {
  background-color: $red-orange-400;
}

.bg-red-orange-500 {
  background-color: $red-orange-500;
}

.bg-red-orange-600 {
  background-color: $red-orange-600;
}

.bg-red-orange-700 {
  background-color: $red-orange-700;
}

.bg-red-orange-800 {
  background-color: $red-orange-800;
}

.bg-red-orange-900 {
  background-color: $red-orange-900;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-floral-white {
  background-color: $floral-white;
}

.bg-off-white {
  background-color: $off-white;
}

.bg-light-grey {
  background-color: $light-grey;
}
