$soft-green-50: #f7fbf8;
$soft-green-100: #f0f8f2;
$soft-green-200: #e7f4ea;
$soft-green-300: #e0f1e3;
$soft-green-400: #d0ead5;
$soft-green-500: #bad2bf;
$soft-green-600: #a6bbaa;
$soft-green-700: #8f8f8f;
$soft-green-800: #3d453f;
$soft-green-900: #292e2a;

$soft-blue-50: #f1f4ff;
$soft-blue-100: #dbe3ff;
$soft-blue-200: #c7d2ff;
$soft-blue-300: #b2c2ff;
$soft-blue-400: #96abff;
$soft-blue-500: #7390ff;
$soft-blue-600: #5c73cc;
$soft-blue-700: #455699;
$soft-blue-800: #283259;
$soft-blue-900: #171c33;

$grey-10: #fbfbfb;
$grey-50: #f3f3f3;
$grey-100: #dddddd;
$grey-200: #bbbbbb;
$grey-300: #a5a5a5;
$grey-400: #8e8e8e;
$grey-500: #787878;
$grey-600: #616161;
$grey-700: #4b4b4b;
$grey-800: #343434;
$grey-900: #1e1e1e;

$green-50: #ecf9f2;
$green-100: #cef0de;
$green-200: #b2e8cb;
$green-300: #95dfb7;
$green-400: #6fd49d;
$green-500: #3fc67d;
$green-600: #2f945d;
$green-700: #25764b;
$green-800: #15452b;
$green-900: #0c2719;

$blue-50: #eaf0ff;
$blue-100: #c9daff;
$blue-200: #a9c5ff;
$blue-300: #8aafff;
$blue-400: #5f92ff;
$blue-500: #2a6eff;
$blue-600: #2189ff;
$blue-700: #194299;
$blue-800: #0e2659;
$blue-900: #081633;

$purple-50: #f3ecff;
$purple-100: #e0ceff;
$purple-200: #cfb2ff;
$purple-300: #bd95ff;
$purple-400: #a56fff;
$purple-500: #873fff;
$purple-600: #6c32cc;
$purple-700: #512599;
$purple-800: #2f1559;
$purple-900: #1b0c33;

$soft-orange-50: #fff8ef;
$soft-orange-100: #ffefd6;
$soft-orange-200: #ffe6be;
$soft-orange-300: #ffdca6;
$soft-orange-400: #ffd086;
$soft-orange-500: #ffc15e;
$soft-orange-600: #cc9a4b;
$soft-orange-700: #8c6933;
$soft-orange-800: #594320;
$soft-orange-900: #332612;

$red-orange-50: #fdf0ef;
$red-orange-100: #fcdad7;
$red-orange-200: #fac4bf;
$red-orange-300: #f8aea7;
$red-orange-400: #ef3434;
$red-orange-500: #f46d60;
$red-orange-600: #b65147;
$red-orange-700: #924139;
$red-orange-800: #552621;
$red-orange-900: #301513;

$black: #000000;
$semi-black: #555555;
$white: #ffffff;
$floral-white: #fffaf0;
$off-white: #fffef2;
$light-grey: #f5f4f3;

$text-primary: $black;
$text-secondary: $grey-600;
$text-disabled: $grey-200;

$text-primary-ondark: $white;
$text-seconday-ondark: $grey-200;
$text-disabled-ondark: $grey-600;

$text-link: $blue-500;
$text-error: $red-orange-500;
$text-accent: $green-500;

$icon-primary: $black;
$icon-secondary: $grey-700;
$icon-disabled: $grey-200;
$icon-ondark: $white;

$text-selection: $soft-green-400;

$skeleton: $grey-50;

$button-label-primary: $white;
$button-label-secondary: $grey-800;

:root {
  --soft-green-50: #f7fbf8;
  --soft-green-100: #f0f8f2;
}
