$spacing-01: 0.25rem;
$spacing-02: 0.5rem;
$spacing-03: 0.75rem;
$spacing-04: 1rem;
$spacing-05: 1.5rem;
$spacing-06: 2rem;
$spacing-07: 2.5rem;
$spacing-08: 3.5rem;
$spacing-09: 4rem;
$spacing-10: 5rem;
$spacing-11: 8rem;

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: $spacing-01;
}

.pl-2 {
  padding-left: $spacing-02;
}

.pl-3 {
  padding-left: $spacing-03;
}

.pl-4 {
  padding-left: $spacing-04;
}

.pl-5 {
  padding-left: $spacing-05;
}

.pl-6 {
  padding-left: $spacing-06;
}

.pl-7 {
  padding-left: $spacing-07;
}

.pl-8 {
  padding-left: $spacing-08;
}

.pl-9 {
  padding-left: $spacing-09;
}

.pl-10 {
  padding-left: $spacing-10;
}

.pl-11 {
  padding-left: $spacing-11;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: $spacing-01;
}

.pr-2 {
  padding-right: $spacing-02;
}

.pr-3 {
  padding-right: $spacing-03;
}

.pr-4 {
  padding-right: $spacing-04;
}

.pr-5 {
  padding-right: $spacing-05;
}

.pr-6 {
  padding-right: $spacing-06;
}

.pr-7 {
  padding-right: $spacing-07;
}

.pr-8 {
  padding-right: $spacing-08;
}

.pr-9 {
  padding-right: $spacing-09;
}

.pr-10 {
  padding-right: $spacing-10;
}

.pr-11 {
  padding-right: $spacing-11;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: $spacing-01;
}

.pt-2 {
  padding-top: $spacing-02;
}

.pt-3 {
  padding-top: $spacing-03;
}

.pt-4 {
  padding-top: $spacing-04;
}

.pt-5 {
  padding-top: $spacing-05;
}

.pt-6 {
  padding-top: $spacing-06;
}

.pt-7 {
  padding-top: $spacing-07;
}

.pt-8 {
  padding-top: $spacing-08;
}

.pt-9 {
  padding-top: $spacing-09;
}

.pt-10 {
  padding-top: $spacing-10;
}

.pt-11 {
  padding-top: $spacing-11;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: $spacing-01;
}

.pb-2 {
  padding-bottom: $spacing-02;
}

.pb-3 {
  padding-bottom: $spacing-03;
}

.pb-4 {
  padding-bottom: $spacing-04;
}

.pb-5 {
  padding-bottom: $spacing-05;
}

.pb-6 {
  padding-bottom: $spacing-06;
}

.pb-7 {
  padding-bottom: $spacing-07;
}

.pb-8 {
  padding-bottom: $spacing-08;
}

.pb-9 {
  padding-bottom: $spacing-09;
}

.pb-10 {
  padding-bottom: $spacing-10;
}

.pb-11 {
  padding-bottom: $spacing-11;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: $spacing-01;
}

.mb-2 {
  margin-bottom: $spacing-02;
}

.mb-3 {
  margin-bottom: $spacing-03;
}

.mb-4 {
  margin-bottom: $spacing-04;
}

.mb-5 {
  margin-bottom: $spacing-05;
}

.mb-6 {
  margin-bottom: $spacing-06;
}

.mb-7 {
  margin-bottom: $spacing-07;
}

.mb-8 {
  margin-bottom: $spacing-08;
}

.mb-9 {
  margin-bottom: $spacing-09;
}

.mb-10 {
  margin-bottom: $spacing-10;
}

.mb-11 {
  margin-bottom: $spacing-11;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: $spacing-01;
}

.mt-2 {
  margin-top: $spacing-02;
}

.mt-3 {
  margin-top: $spacing-03;
}

.mt-4 {
  margin-top: $spacing-04;
}

.mt-5 {
  margin-top: $spacing-05;
}

.mt-6 {
  margin-top: $spacing-06;
}

.mt-7 {
  margin-top: $spacing-07;
}

.mt-8 {
  margin-top: $spacing-08;
}

.mt-9 {
  margin-top: $spacing-09;
}

.mt-10 {
  margin-top: $spacing-10;
}

.mt-11 {
  margin-top: $spacing-11;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: $spacing-01;
}

.ml-2 {
  margin-left: $spacing-02;
}

.ml-3 {
  margin-left: $spacing-03;
}

.ml-4 {
  margin-left: $spacing-04;
}

.ml-5 {
  margin-left: $spacing-05;
}

.ml-6 {
  margin-left: $spacing-06;
}

.ml-7 {
  margin-left: $spacing-07;
}

.ml-8 {
  margin-left: $spacing-08;
}

.ml-9 {
  margin-left: $spacing-09;
}

.ml-10 {
  margin-left: $spacing-10;
}

.ml-11 {
  margin-left: $spacing-11;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: $spacing-01;
}

.mr-2 {
  margin-right: $spacing-02;
}

.mr-3 {
  margin-right: $spacing-03;
}

.mr-4 {
  margin-right: $spacing-04;
}

.mr-5 {
  margin-right: $spacing-05;
}

.mr-6 {
  margin-right: $spacing-06;
}

.mr-7 {
  margin-right: $spacing-07;
}

.mr-8 {
  margin-right: $spacing-08;
}

.mr-9 {
  margin-right: $spacing-09;
}

.mr-10 {
  margin-right: $spacing-10;
}

.mr-11 {
  margin-right: $spacing-11;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: $spacing-01;
}

.m-2 {
  margin: $spacing-02;
}

.m-3 {
  margin: $spacing-03;
}

.m-4 {
  margin: $spacing-04;
}

.m-5 {
  margin: $spacing-05;
}

.m-6 {
  margin: $spacing-06;
}

.m-7 {
  margin: $spacing-07;
}

.m-8 {
  margin: $spacing-08;
}

.m-9 {
  margin: $spacing-09;
}

.m-10 {
  margin: $spacing-10;
}

.m-11 {
  margin: $spacing-11;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: $spacing-01;
}

.p-2 {
  padding: $spacing-02;
}

.p-3 {
  padding: $spacing-03;
}

.p-4 {
  padding: $spacing-04;
}

.p-5 {
  padding: $spacing-05;
}

.p-6 {
  padding: $spacing-06;
}

.p-7 {
  padding: $spacing-07;
}

.p-8 {
  padding: $spacing-08;
}

.p-9 {
  padding: $spacing-09;
}

.p-10 {
  padding: $spacing-10;
}

.p-11 {
  padding: $spacing-11;
}
